.shop-container{
    display: flex;
}
.product-container{
    width: 70%;
    margin-left: 25px;
    margin-right: 5px;
    border-right: 2px solid gray;

}

.product h3{
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
}